<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <!-- <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/parks">Parks</a></li>
            <li><a href="/myParks">myParks</a></li>
          </ul>
    </div> -->
    <h1>HOMEPAGE</h1>
    <br>
    <% for( let i = 0; i < parks.length; i++ ) { %>
        <% let p = parks[i]; %> 
        <% p = p.toJSON(); %> 
        <h1><%= p.fullName %> </h1>
        <h2><%= p.designation %></h2>
        <h2><%= p.description %></h2>
        <h2><%= p.weatherInfo %></h2>
        <img src="<%= p.image %>" alt="" srcset="">
        <!-- <a href="/albums/edit/<%= p.id %>">Edit</a>  -->
        <!-- ^this line adds edit button^ -->
        <!-- <a href="/portals/parks/<%= p.id %>">View Park</a> -->
        <hr>
    <% } %>
</body>
</html>
