<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/alerts') %>
    <div class="navbar">
            <li><a href="/home">Home</a></li>
            <li><a href="/parks">Parks</a></li>
            <li><a href="/myparks">myParks</a></li>
    </div>
    <form method="POST" action="/memories/<%= park.id %>">
    <h1>my MEMOREEEZ for</h1>
    <h1><%= park.fullName %> </h1><br>
    <div class="memories">

    </div>
    <div class="container">
        <input type="file"
        id="uploadImage" name="uploadImage" class="field"
        accept="image/png, image/jpeg, image/jpg">
    </div><br>
    <input type="submit" value="Post Memory"><br><br><br>

    <a href="/myparks">Back to myParks</a><br>
    <a href="/park/<%= park.id %>">Back to main park page</a><br>
    <br><br>
    <label class="hidden" for="id">ID:</label>
    <input type="text" class="hidden" id="id" name="id" value="<%= park.id %>">
    <div class="logoutprofile">
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/profile">Profile</a></li>
    </div>
    </form>
</body>
</html>
