<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
            <li><a href="/home">Home</a></li>
            <li><a href="/parks">Parks</a></li>
            <li><a href="/myparks">myParks</a></li>
    </div>
    <form method="POST" action="/myparks">
    <!-- <h1>PARK VIEWPAGE</h1>
    <br> -->
    <h1><%= park.fullName %> </h1><br>
    <!-- <h2><%= park.designation %> </h2> -->
    <h3><%= park.description %> </h3><br>
    <h3><%= park.weatherInfo %> </h3><br>
    <div class="parkImage">
        <img src="<%= park.image %>" alt="" srcset="">
    </div>
    <label class="hidden" for="id">ID:</label>
    <input type="text" class="hidden" id="id" name="id" value="<%= park.id %>">
    <br>
    <h3>Been here before?</h3>
    <br>
    <input type="submit" value="Add to myParks">
    <br><br><br>
    <div class="logoutprofile">
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/profile">Profile</a></li>
    </div>
    </form>
</body>
</html>
